// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@font-face {
  font-family: 'Georgia';
  src: url('/id_fonts/Georgia.ttf') format('truetype');
}
    @font-face {
  font-family: 'Verdana';
  src: url('/id_fonts/verdana.ttf') format('truetype');
}
      @font-face {
  font-family: 'Calibri';
  src: url('/id_fonts/calibri.ttf') format('truetype');
}

      @font-face {
  font-family: 'Century Gothic';
  src: url('/id_fonts/Century Gothic.otf') format('truetype');
}

      @font-face {
  font-family: 'Montserrat';
  src: url('/id_fonts/Montserrat-Regular.ttf') format('truetype');
}
      @font-face {
  font-family: 'Poppins';
  src: url('/id_fonts/Poppins-Regular.otf') format('truetype');
}
      @font-face {
  font-family: 'Arial Narrow';
  src: url('/id_fonts/Arial Narrow.ttf') format('truetype');
}
      @font-face {
  font-family: 'Helvetica';
  src: url('/id_fonts/Helvetica.ttf') format('truetype');
}
      @font-face {
  font-family: 'Baskerville';
  src: url('/id_fonts/Baskerville.ttf') format('truetype');
}
      @font-face {
  font-family: 'Tahoma';
  src: url('/id_fonts/Tahoma.ttf') format('truetype');
}
      @font-face {
  font-family: 'Garamond';
  src: url('/id_fonts/Garamond.otf') format('truetype');
}
      @font-face {
  font-family: 'Franklin Gothic';
  src: url('/id_fonts/Franklin Gothic.ttf') format('truetype');
}
      @font-face {
  font-family: 'Futura';
  src: url('/id_fonts/Futura.ttf') format('truetype');
}

      @font-face {
  font-family: 'Cambria';
  src: url('/id_fonts/Cambria.ttf') format('truetype');
}
      @font-face {
  font-family: 'Comfortaa';
  src: url('/id_fonts/Comfortaa.ttf') format('truetype');
}
      @font-face {
  font-family: 'Proxima Nova';
  src: url('/id_fonts/Proxima Nova.ttf') format('truetype');
}
      @font-face {
  font-family: 'Roboto';
  src: url('/id_fonts/Roboto.ttf') format('truetype');
}
      @font-face {
  font-family: 'Lato';
  src: url('/id_fonts/Lato.ttf') format('truetype');
}
      @font-face {
  font-family: 'Quick Sand';
  src: url('/id_fonts/Quick Sand.otf') format('truetype');
}
      @font-face {
  font-family: 'Open Sans';
  src: url('/id_fonts/Open Sans.ttf') format('truetype');
}
      @font-face {
  font-family: 'Ubuntu';
  src: url('/id_fonts/Ubuntu.ttf') format('truetype');
}
      @font-face {
  font-family: 'Avenir';
  src: url('/id_fonts/Avenir.otf') format('truetype');
}
      @font-face {
  font-family: 'Merriweather';
  src: url('/id_fonts/Merriweather.otf') format('truetype');
}
      @font-face {
  font-family: 'Frutiger';
  src: url('/id_fonts/Frutiger.ttf') format('truetype');
}
      @font-face {
  font-family: 'Public Sans';
  src: url('/id_fonts/Public Sans.otf') format('truetype');
}
      @font-face {
  font-family: 'Bebas';
  src: url('/id_fonts/Bebas.ttf') format('truetype');
}
      @font-face {
  font-family: 'Palatino';
  src: url('/id_fonts/Palatino.ttf') format('truetype');
}
      @font-face {
  font-family: 'Brandon Grotesque';
  src: url('/id_fonts/Brandon Grotesque.otf') format('truetype');
}
      @font-face {
  font-family: 'Trebuchet MS';
  src: url('/id_fonts/Trebuchet MS.ttf') format('truetype');
}
// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
